<div class="wrap">
  <div class="h1">
    <h1>New schedule</h1>
  </div>

  <div class="form-wrap">
    <%= form_with model: @schedule, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

      <div class="field">
        <%= f.label :start_date %><br/>
        <%= f.date_field :start_date, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :end_date %><br/>
        <%= f.date_field :end_date %>
      </div>

      <div class="field">
        <%= f.label :client %><br/>
        <%= f.text_field :client %>
      </div>

      <div class="field">
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :content %><br/>
        <%= f.text_area :content %>
      </div>

      <div class="field">
        <%= f.label :items %><br/>
        <%= f.collection_check_boxes(:item_ids, Item.where(status_id: [1..2]), :id, :item_name) do |b| %>
          <div class="check-box">
            <%= b.label { b.check_box } + b.text[:name] %>
          </div>
        <% end %>
      </div>

      <div class="action">
        <%= f.submit "登録", class: "btn-1" %>
      </div>

    <% end %>
  </div>

  <div class="links">
    <%= link_to "Back", root_path, class: "btn-2" %>
  </div>
</div>
