<%= render 'shared/header' %>

<span class="kizairisuto">機材list</span>

<div class="item-lists">
  <div class="box27">
    <span class="box-title">Camera</span>
    <% @items.each do |item| %>
      <% if item.item_name.id <= 9 %>
        <div class="item-list">
          <%= link_to item.item_name.name, item_path(item.id), class: "item-list-name" %>
          <% if item.status.id == 3 %>
            <div class="status-name">
              <%= item.status.name %>
            </div>
          <% else %>
            <%= item.status.name %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="box27">
    <span class="box-title">Audio</span>
    <% @items.each do |item| %>
      <% if (item.item_name.id >= 10) && (item.item_name.id <= 15) %>
        <div class="item-list">
          <%= link_to item.item_name.name, item_path(item.id), class: "item-list-name" %>
          <% if item.status.id == 3 %>
            <div class="status-name">
              <%= item.status.name %>
            </div>
          <% else %>
            <%= item.status.name %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="box27">
    <span class="box-title">Light</span>
    <% @items.each do |item| %>
      <% if item.item_name.id >= 16 %>
        <div class="item-list">
          <%= link_to item.item_name.name, item_path(item.id), class: "item-list-name" %>
          <% if item.status.id == 3 %>
            <div class="status-name">
              <%= item.status.name %>
            </div>
          <% else %>
            <%= item.status.name %>
          <% end %>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
