<div class="wrap">
  <div class="h1">
    <h1>機材登録</h1>
  </div>

  <div class="form-wrap">
    <%= form_with model: @item, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

      <div class="field">
        <%= f.label :item_name %><br/>
        <%= f.collection_select(:item_name_id, ItemName.all, :id, :name, {}, {class:"select-box", id:"item-name"}) %>
      </div>

      <div class="field">
        <%= f.label :status %><br/>
        <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box", id:"item-status"}) %>
      </div>

      <div class="action">
        <%= f.submit "登録", class: "btn-1" %>
      </div>

    <% end %>
  </div>

  <div class="links">
    <%= link_to "Back", items_path, class: "btn-2" %>
  </div>
</div>
