<%= render 'shared/header' %>

<span class="kizairisuto">スタッフスケジュール</span>
<span class="member-name">
  <%= @member.name.name %>
</span>
<% if user_signed_in? %>
  <%= link_to "編集", edit_member_path, class: "member-edit-tag" %>
<% end %>

<%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @schedules) do |date, schedules| %>
  <%= date.day %>

  <% schedules.each do |schedule| %>
    <% if schedule.member_ids.include?(@member.id) %>
      <div class="member-schedules-list">
        <%= link_to schedule.title, schedule_path(@member.schedule_ids), class: "member-schedule-title" %>
      </div>
    <% end %>
  <% end %>

<% end %>

